* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, Sans-Serif;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

ul li {
    margin: 1em;
}